[Unit]
Description="Run toolbox-backup daily or weekly"
Requires=toolbox-backup.service

[Timer]
OnCalendar=daily
Persistent=true
Unit=toolbox-backup.service

[Install]
WantedBy=timers.target
